<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** 
    
    Pablo Muñoz
    
    #############.

**Fecha:** 07 de junio del 2021.

**Expediente** : 
    
    if719963
    XXX.
    
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/munoz97/Tarea2.Pablo.Tona

# Tarea 2: Clase 4

## Enunciado de tarea 
1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

## Ejercicio 1: Código Estudiante 1

### Pablo Muñoz

In [1]:
# Código de solución estudiante 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
l = list(map(lambda x: [x[0],x[2]*x[3]] if x[2]*x[3] >= 100 else (x[0], x[2]*x[3]+10),orders))
l

[['34587', 163.8],
 ['98762', 284.0],
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

In [3]:
import pandas as pd
import numpy as np

In [2]:
orders = pd.DataFrame(data= (["34587", "Learning Python, Mark Lutz", 4, 40.95],
                              ["98762", "Programming Python, Mark Lutz", 5, 56.80],
                              ["77226", "Head First Python, Paul Barry", 3,32.95],
                              ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]),
                       columns=['Order_Number', 'Book Title and Author', 'Quantity', 'Price_per_Item'])                
orders
multi = lambda a,b: a*b  
b = multi(orders['Price_per_Item'],orders['Quantity'])
a = list(map(lambda x: x  if (x)>=100 else (x)+10,b))
result = pd.DataFrame(data = a, columns =['Result'])
result['Order_Number']=orders['Order_Number']
result= result[['Order_Number','Result']]
result

  Order_Number  Result
0        34587  163.80
1        98762  284.00
2        77226  108.85
3        88112   84.97

2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

In [4]:
from functools import reduce
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
n = lambda a,b: a+b
p = lambda x: x if x>=100 else x+10
result = list(map(lambda x: [x[0]] + list(map(lambda y: p(y[1]*y[2]),x[1:])),orders))
result = list(map(lambda x: (x[0], reduce(n,x[1:])),result))
result

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

In [5]:
orders1 = pd.DataFrame(data= ([1, "5464", 4, 9.99, "8274",18,12.99, "9744", 9, 44.95],
                              [2, "5464", 9, 9.99, "9744", 9, 44.95],
                              [3, "5464", 9, 9.99, "88112", 11, 24.99],
                              [4, "8732", 7, 11.99, "7733",11,18.99, "88112", 5, 39.95]))
                                       
orders1=orders1.fillna(0)
a = ((orders1[2]*orders1[3]) + (orders1[5]*orders1[6]) + (orders1[8]*orders1[9])).apply(lambda x: x if x>=100 else x+10)
result =pd.DataFrame(a,columns=['Result'])
result['O']=orders1[0]
result= result[['O','Result']]
result

   O  Result
0  1  678.33
1  2  494.46
2  3  364.80
3  4  492.57

4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [6]:
lista = 'the notion of a lambda function goes all the way back to the origin of computer science'
l = lista.split()
sol = list(filter(lambda x: len(x)>=4,l)) 
sol

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [7]:
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

temperature=list(filter(lambda x: x>=32 and x<=80,temperatures))
porc= len(temperature)/len(temperatures)
porc

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

0.4666666666666667

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [8]:
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
# point_xy

# Función
x = np.minimum.reduce(point_xy)
#Compresion de lista y reduce
f = reduce(lambda a,b: a if (a < b) else b,[point_xy[i][0] for i in range(len(point_xy))])
a = reduce(lambda a,b: a if (a < b) else b,[point_xy[i][1] for i in range(len(point_xy))])
y = np.array([f,a])
x, y

(array([0, 2]), array([0, 2]))

________________________________

### Código de solución estudiante 2

In [ ]:
# Código de solución estudiante 2
.
.
.
.